*{
    padding: 0;margin: 0;
    box-sizing: border-box;
}
.main{

    display: flex;
    justify-content: space-around;
    min-height: 65vh;
    align-items: center;
  
}
.left{
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 34%;
    height: auto;
    position: relative;

}

.right{
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 34%;
}

label{
    color:white;
}

.button30 {
    align-items: center;
    appearance: none;
    background-color: #4b6584;
    border-radius: 10px;
    border-width: 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    width: 150px;
    position: relative;
    left: 520px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button30:focus,.buttonadmin:focus,.buttonclient:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #9e9ee4 0 -3px 0 inset;
}

.button30:hover,.buttonadmin:hover,
.buttonclient:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #9e9ee4 0 -3px 0 inset;
    transform: translateY(-1px);
}

.button30:active,.buttonadmin:active,
.buttonclient:active {
    box-shadow: #9e9ee4 0 3px 7px inset;
    transform: translateY(2px);

}

.buttonadmin {
    align-items: center;
    appearance: none;
    background-color: #4b6584;
    border-radius: 10px;
    border-width: 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    width: 150px;
    position: relative;
    left: 520px;
    bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}
.buttonclient {
    align-items: center;
    appearance: none;
    background-color: #4b6584;
    border-radius: 10px;
    border-width: 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    width: 150px;
    position: relative;
  left: 180px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}
.buttonEmp {
    align-items: center;
    appearance: none;
    background-color: #4b6584;
    border-radius: 10px;
    border-width: 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    margin-bottom: 40px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    width: 150px;
    position: relative;
    left: 540px;
    top: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}


